.nav-list{
    display: flex;
    justify-content: right;
    gap: 55px; 
}

.work-text{
    text-align: center;
    color: #333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;

}

.work-text2{
    text-align: center;
    color: #333;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
    margin-bottom: 40px;
}

.nav-list:hover{
    color: #F38181;
}

.photo{
    margin-top: 77px;


}

.photo-text{
    color: #333;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-variant: small-caps;
padding-right: 245px;
margin-bottom: 100px;

}

.photo-item{
    margin-left: 86px;
    margin-bottom: 92px;
}

.photo{
    display: flex;  
}

.who-item{
    text-align: center;
    margin-bottom: 17px;
    color: #333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.who-itemm{
    text-align: center;
    margin-bottom: 36px;
    color: #333;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-variant: all-small-caps;
}

.who-itemm{
    text-align: center;
    margin-bottom: 36px;
}

.men-lorem{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;
}

.mens{
    display: flex;
}

.men{
    display: flex;

}